@page
@model CreateModel

@{
    ViewData["Title"] = "Create some...";
}

<html>
<body>
    <p>
        Enter your name.
    </p>
    <div asp-validation-summary="All"></div>
    <form method="post">
        <div>Name : <input asp-for="Customer.Name" /></div>
        <input type="submit"/>
    </form>
</body>
</html>